<section
    fxLayout="row"
    fxLayoutAlign="center center"
    class="new-training">
  <form
      #trainingForm="ngForm"
      (ngSubmit)="onStartTraining(trainingForm.value.chosenId)">
    <mat-card fxFlex="400px" fxFlex.lt-md="100%">
      <mat-card-title fxLayoutAlign="center center">
        Time to start a workout!
      </mat-card-title>
      <mat-card-content fxLayoutAlign="center center">
        <mat-form-field>
          <mat-select
              ngModel
              name="chosenId"
              required
              placeholder="Choose your exercise">
            <mat-option
                *ngFor="let exercise of exercises"
                [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center">
        <button
            [disabled]="trainingForm.invalid"
            style="margin-bottom:15px"
            color="primary"
            mat-raised-button
            type="submit">
          Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
