<mat-nav-list>
  <mat-list-item *ngIf="isAuth$ | async">
    User: <em>{{ loggedUser }}</em>
  </mat-list-item>
  <a
      *ngIf="!(isAuth$ | async)"
      (click)="onSidenavClose()"
      mat-list-item
      routerLink="/signup">
    <mat-icon>perm_identity</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a
      *ngIf="!(isAuth$ | async)"
      (click)="onSidenavClose()"
      mat-list-item
      routerLink="/login">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a
      *ngIf="isAuth$ | async"
      (click)="onSidenavClose()"
      mat-list-item
      routerLink="/training">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item *ngIf="isAuth$ | async" >
    <button
        (click)="onSidenavClose()"
        mat-icon-button>
      <mat-icon>power_settings_new</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
